/* .resume {
    color: rgb(19, 44, 35);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(67, 123, 104);
}
ul {
    text-decoration: none;
    list-style: none;
}
li {
    margin-bottom: 20px;
    font-size: 30px;
} */